<!DOCTYPE html>
<html ng-app="ShifuApp">
    <head>
        <title>Nodular Chat</title>
        <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
        <link rel='stylesheet' href='/stylesheets/custom.css' />
    </head>


    <body ng-controller="ChatCtrl" >
        <div class="container">
            <h1>Nodular chat! <small>A basic node + angular chat.</small></h1>
            <chat />
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.js"></script>
        <script src="js/app/angularApp.js"></script>
        <script src="js/app/directives/chat.js"></script>
        <script src="js/app/controllers/ChatController.js"></script>
    </body>
</html>