<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon glyphicon glyphicon-user"></span>
                    <input id="userName" class="form-control" type="text"  ng-model="userName" placeholder="User Name">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon glyphicon glyphicon-hand-right"></span>
                    <input id="roomName" class="form-control" type="text"   placeholder="Room Name"
                           ng-model="roomName" typeahead-loading="loadingRooms"
                           typeahead="room for room in getRoom($viewValue)"
                            >
                </div>
            </div>
        </div>
        <hr/>
        <div class="panel">
            <div class="panel-title"><h3 class="chat-title">Messages: <span class="badge">{{messages.length}}</span></h3></div>
            <div class="panel-body chat-box">
                <p ng-repeat="message in messages">{{message.author}} : {{message.text}}</p>
            </div>
        </div>
        <hr/>
        <form>
            <button class="invisible" ng-click="sendMessage(messageToSend)"></button>
            <div class="input-group input-group-lg">
                <input class="form-control" type="text"  ng-model="messageToSend" placeholder="message">
                <span class="input-group-addon glyphicon glyphicon-envelope"  ng-click="sendMessage(messageToSend)"></span>
            </div>
        </form>
    </div>
</div>